body {
    text-align: center;
    background-color: lightskyblue;
    color:blue;
    /* customfonts available */
    align-content: center;
    font-family:monospace
}

a:link{
    color: white
}

img{
    width: 100px;
}

.navbar{
    position:absolute;
    top:0;
    text-align:left;
    width:100%;
    margin:20px;
}